body {
    text-align: center;
    background-color: #b2cecf;
;
}

#container {

    padding-top: 1%;
    padding-bottom: 20%;

    width: 50%;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    background-color: white;
    }


#title {
    background-color: white;
    text-color: blue;

    width: 50%;
    margin-left: auto;
    margin-right: auto;


}